---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posty</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% if post.tags.size > 0 %}
          <span class="post-tags">
            {% for tag in post.tags %}
                {{ tag | prepend:'#' }}
            {% endfor %}
          </span>
        {% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subskrybuj blog przez <a href="{{ "/rss/" | prepend: site.baseurl }}">RSS</a>.</p>

</div>
