---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">
            {{ page.date | date: "%d.%m.%Y" }}

            {% if page.author %}
                {{ site.delimiter_char }} {{ page.author }}
            {% endif %}

            {% if page.meta %}
                {{ site.delimiter_char }} {{ page.meta }}
            {% endif %}

            {{ site.delimiter_char }} wyrazów: {{ page.content | number_of_words }}
        </p>
    </header>

    <article class="post-content">
        {{ content }}
    </article>
</div>
